.menuSection{
    text-align: center;
  
}
.menuContainer{
    text-align: center;
    font-size: larger;
    color: rgb(167, 60, 48);
}


.menuImage{
    width: 90%;
}

// @media (max-width:850px) {
//     .menuImage{
//         width: 750px;
//     }
    
// }

// @media (max-width:750px) {
//     .menuImage{
//         width: 600px;
//     }
    
// }


// @media (max-width:600px) {
//     .menuImage{
//         width: 450px;;
//     }
    
// }


// @media (max-width:450px) {
//     .menuImage{
//         width: 350px;
//     }
    
// }

// @media (max-width:200px) {
//     .menuImage{
//         width: 100px;
//     }
    
//   }