.contact-header{
    color: rgb(167, 60, 48);
}

.contact{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 
}

.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}