.logo {
    width: 150px;
    height: 100px;
    border-radius: 50%; 
   
  }

  .navbar-whole{
    background-color: antiquewhite;
    // font-weight: bolder;
    font-size: xx-large;
  
  }

  @media (max-width:300px) {
    .logo{
        width: 100px;
    }
    
}